.logo-img {
	height: 50px;
}

.apa {
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.hc.aps {
	padding-left: 0;
	padding-right: 0;
	border-top: 0px;
}

.apa.notapa {
	border-top: 0px;
}

.clearboth-div {
	clear:both;
}

th.header {
	cursor: pointer;
}

.exceeded {
    color: #e64759;
}

.safe {
    color: #1bc98e;
}

.danger {
	color: #FFCBC2;	
	/*#E57C6B;*/
}

.position-div {
	width: 12.5%;
}